:root {
  --main-colour: #1ba2d8;
  --secondary-colour: #1ea4d9;
  --outline-colour: #0f89bd;
  --main-gradient-colour: linear-gradient(0deg, #1e7697 0%, #17bdaa 100%);
  --background-colour: #017086;
  --text-colour: #fff6e4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}